@charset  'utf-8';

body {
  background: #ccc;
  font-family: 'Courier New', sans-serif;
  font-weight: bold;
  font-size: 16px;
}

#container {
  width: 170px;
  margin: 0 auto;
}

#board {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
}